/* ==========================
   GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:linear-gradient(135deg,#ffd6e7,#ffe8f2,#fff5fa);

    color:#5b2d42;

    min-height:100vh;

}

/* ==========================
   CONTENEDOR
========================== */

.container{

    max-width:1100px;

}

/* ==========================
   TITULOS
========================== */

h1,h2,h3{

    font-weight:700;

    color:#d63384;

}

.lead{

    font-size:1.2rem;

    color:#6d4355;

}

/* ==========================
   TARJETAS
========================== */

.card{

    border:none;

    border-radius:25px;

    background:rgba(255,255,255,.92);

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.login-card{

    max-width:550px;

    margin:auto;

}

/* ==========================
   INPUTS
========================== */

.form-control{

    border-radius:15px;

    padding:14px;

    border:2px solid #ffd2e5;

}

.form-control:focus{

    border-color:#ff4f8b;

    box-shadow:none;

}

/* ==========================
   BOTON
========================== */

.btn-danger{

    background:#ff4f8b;

    border:none;

    border-radius:40px;

    padding:15px;

    font-size:20px;

    transition:.3s;

}

.btn-danger:hover{

    background:#e63b76;

    transform:scale(1.03);

}

/* ==========================
   MENSAJES
========================== */

#message{

    font-weight:bold;

    margin-top:20px;

    color:#cc0033;

}
/* ==========================
   CARTA
========================== */

#content{

    animation:fadeIn 1s;

}

#content p{

    line-height:2;

    font-size:18px;

}

/* ==========================
   GALERIA
========================== */

img{

    width:100%;

    border-radius:20px;

    transition:.4s;

}

img:hover{

    transform:scale(1.03);

}

/* ==========================
   VIDEO
========================== */

video{

    border-radius:20px;

}

/* ==========================
   FINAL
========================== */

audio{

    display:none;

}

/* ==========================
   ANIMACIONES
========================== */

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ==========================
   CELULAR
========================== */

@media(max-width:768px){

    h1{

        font-size:32px;

    }

    h2{

        font-size:28px;

    }

    .card{

        padding:25px !important;

    }

}